body {
    align-items: center;
    background-color: #f1f2f1;
    height: 100vh;
    max-height: 100vh;
    justify-content: center;
    margin:0;
    overflow: hidden;
}
/*divs*/
.divko1 {
    height: 0 !important;
}

.divko2 {
    margin-top: 50% !important;
}

#div1 { 
    transition: height 2s ease;
    background-color: #AA4335;
    height: 50%;
    width: 100vw;
}

#div2 {
    transition: margin 2s ease;
    margin: 0;
    background-color: #AA4335;
    height: 50%;
    width: 100vw;
}

/*icons*/

.icons {
    position: absolute;
    left: 50%;
    transform:translateX(-50%) translateY(-50%);
    width: 11em;
    height: 10em;
    transition: opacity 1s ease;
}

#spodok {
    margin: 0%;
    transition: margin 2s ease,opacity 1s ease;
    margin-top:3.7em;
}

#vrch{
    margin-top:1.6em;
}

/* .vrch{
    margin-top:0 !important; 
} */

.spodok{
    margin-top: 45% !important; 
}

.opacity0{
    opacity: 0; 
}
/*content*/

#content{
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s ease;
}
#content *{
    display: flex;
}

h1 {
    margin:0;
}